<template>
    <div :class="alertClasses" v-show="show">
        <slot></slot>
        <a class="close" title="close" @click="show = false">×</a>
    </div>
</template>

<script>
    export default {

        props: ['type'],

        data () {
            return {
                show: true
            };
        },

        computed: {
            alertClasses: function () {
                return {
                    'alert': true,
                    'alert-success': this.type == 'success',
                    'alert-info': this.type == 'info',
                    'alert-warning': this.type == 'warning',
                    'alert-danger': this.type == 'error',
                }
            }
        }

    }
</script>

<style lang="stylus">

</style>